.navbar {
  overflow: hidden;
  background-color: rgb(232, 232, 232);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}

#chplogo {
  width: 100px;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar a {
  font-family: 'Anton', sans-serif;
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 35px 16px;
  text-decoration: none;
  font-size: 28px;
}

body {
  background: #0066ff;
  z-index: -1;
}


/* -- ABOUT STYLES --
* This is the about section that appears on the page.
*/

#about-container {
  background: #1f8dd6;
  width: 100%;
  height: 1000px;
  border-radius: 5px;
}

.about {
  /* absolute center .splash within .splash-container */
  width: 40%;
  height: 50%;
  margin: auto;
  position: relative;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

.head {
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding: 1em;
  margin: 10px;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
  text-align: center;
}

#chplogo2 {
  align-self: center;
  border: 10px solid white;
  max-width: 100%;
  height: auto;
  margin: 20px;
}

.pure-button {
  font-family: 'Anton', sans-serif;
  background-color: #1f8dd6;
  font-size: 150%;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
  margin: 12px;
}

a.pure-button-primary {
  font-family: 'Anton', sans-serif;
  background: white;
  color: #1f8dd6;
  border-radius: 5px;
  font-size: 120%;
  text-decoration: none;
  margin: 6px;
}


/* -- GALLERY STYLES --
* This is the gallery section that appears on the page.
*/

#gallery {
  background: #1f8dd6;
  width: auto;
  height: auto;
  border-radius: 5px;
}

.w3-content {
  max-width: 980px;
  margin: auto;
}

.w3-display-container {
  position: relative;
}

.w3-center {
  text-align: center!important;
}

.w3-container {
  padding: 0.01em 16px;
}

.w3-section {
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}

.w3-large {
  font-size: 18px!important;
}

.w3-text-white {
  color: #fff!important;
}

.w3-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.w3-left {
  float: left!important;
}

.w3-right {
  float: right!important;
}

.w3-badge {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center border-radius: 50%;
}

.w3-border {
  border: 1px solid #ccc!important;
}

.w3-transparent, .w3-hover-none:hover {
  background-color: transparent!important;
}

.mySlides {
  display: none;
}

.w3-left, .w3-right, .w3-badge {
  cursor: pointer;
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

.w3-hover-white:hover{color:#000!important;background-color:#fff!important}

#products {
  background: #1f8dd6;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
  text-align: center;
  }


/* -- CONTACT STYLES --
* This is the contact section that appears on the page.
*/

#contact {
  background: #1f8dd6;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: white;
  padding: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
  text-align: center;
  }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
  font: 400 12px/16px 'Anton', sans-serif;
}

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 50%;
  border: none;
  background: #0CF;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
