/*NAVBAR STYLING*/

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: rgb(232, 232, 232);
  background-position: center;
  z-index: 1;
  border-bottom: 5px solid #1f8dd6;
}

#chplogo {
  width: 100px;
  height: auto;
}

.navbar a {
  font-family: 'Anton', sans-serif;
  float: right;
  display: flex;
  color: #1f8dd6;
  justify-content: flex-end;
  padding: 35px 16px;
  text-decoration: none;
  font-size: 22px;
}

#facebook {
  position: fixed;
  top: 12px;
  right: 4px;
  width: auto;
  height: 60px;
}

body {
  background-color: rgb(232, 232, 232);
  z-index: -1;
  margin: 0 2%;
}

/*ABOUT SECTION STYLING*/

#about {
  display: flex;
  width: 100%;
  height: 950px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#about h1 {
  font-family: 'Anton', sans-serif;
  color: #1f8dd6;
  font-size: 2.2em;
}

#about img {
  width: 40%;
  height: auto;
}

#about a {
  color: #1f8dd6;
  font-size: 2.2em;
  text-decoration: none;
}

#about a:hover {
  color: white;
  text-decoration: none;
}

/*GALLERY SECTION STYLING*/

#gallery {
  background-color: #1f8dd6;
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#gallery h1 {
  font-family: 'Anton', sans-serif;
  color: black;
  font-size: 2.2em;
  padding-top: 1em;
  margin: 1em;
}

.mySlides {
  width: 60%;
  display: none;
  padding: 0 16.7%;
}

.w3-content {
  width: 60%;
  height: 60%;
  margin: auto;
  align-items: center;
}

.w3-display-container {
  position: relative;
  align-items: center;
}

.w3-center {
  text-align: center!important;
}

.w3-container {
  padding: 0.01em 16px;
  margin: 10px;
}

.w3-section {
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}

.w3-large {
  font-size: 18px!important;
}

.w3-text-black {
  color: black!important;
}

.w3-display-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.w3-left {
  float: left!important;
}

.w3-right {
  float: right!important;
}

.w3-badge {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center border-radius: 50%;
}

.w3-border {
  border: 1px solid #ccc!important;
}

.w3-transparent, .w3-hover-none:hover {
  background-color: grey!important;
  border-radius: 50%;
}

.mySlides {
  display: none;
}

.w3-left, .w3-right, .w3-badge {
  cursor: pointer;
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

.w3-hover-black:hover {
  color: #000!important;
  background-color: black!important
}

/* -- PRODUCTS STYLES --
* This is the products section that appears on the page.
*/

#products {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#products h1 {
  font-family: 'Anton', sans-serif;
  color: #1f8dd6;
  font-size: 2.2em;
}

.cajonContainer {
  width: 100%;
  padding: 0 16.7%;
}

.cajon  {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 225px;
    height: auto;
}

.cajon:hover {
    border: 1px solid #777;
}

div.cajon img {
    width: 100%;
    height: auto;
}

/* -- CONTACT STYLES --
* This is the contact section that appears on the page.
*/

#contact {
  background-color: #1f8dd6;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #1f8dd6;
  padding: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 100;
  line-height: 1em;
  text-align: center;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
  font: 400 12px/16px 'Anton', sans-serif;
}

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 50%;
  border: none;
  background: #0CF;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
